.cartSum {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  h3 {
    font-size: 32px;
    color: #ffffff;
  }

  p {
    font-size: 24px;
    color: #FFBA08;
    text-decoration: underline;
  }

}

