.cartTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cartTitle h1 {
    font-size: 45px;
    line-height: 65px;
    color: #ffffff;
    margin-bottom: 40px;
}
