
.productCounter {
    display: flex;
    align-items: center;
    justify-content: left;
}

.productCounter span {
    font-size: 24px;
    color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
}

.productCounter button {
    width: 25px;
    height: 25px;
}

.productCounter button img {
    width: 25px;
    height: 25px;
}
