.productItem {
    width: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productImg {
    width: 260px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.productTitle {
    font-size: 24px;
    color: #FFBA08;
    margin-bottom: 10px;
    line-height: 30px;
}

.productDesc {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}

.productPrice {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}


.productBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}